/* RESET */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CUSTOM PROPERTIES */


:root{
  --bgcolor-pink: rgb(255,192,203);
  --bgcolor-blue: rgb(30,144,255);
  --bgcolor-green: rgb(34,139,34);
  --bgcolor-purple: rgb(238,130,238);
  --bgcolor-red: rgb(240,128,128);
  --bgcolor-yellow: rgb(218,165,32);
  --bgcolor-grey: rgb(211,211,211);
  --bgcolor-light-blue: rgb(32,178,170);
  --bgcolor-aquamarine: rgb(127,255,212);
  --bgcolor-dark-blue: rgb(0,0,139);
  
  --bgcolor-black: rgb(35,39,42);
  --large-width: calc(1200px / 3 * 2);
  --small-width: calc(1200px / 3);
}



/* GENERICS */

body{
  font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
}


header{
  height: 615px;
  background-image: url(../img/jumbo.png);
  background-size: cover;
  }

  h1{
    font-size: 60px;
  }

/* UTILITIES */

.container{
  max-width: 1200px;
  margin: 0 auto;
}

.deco-none{
  text-decoration: none;
}

.color-white{
  color: white;
}

.bd-black{
  border: 1px dashed black;
}

.flex-grw-1{
  flex-grow: 1;
}

.content{
  height: 80%;
  display: flex;
}

.large-width{
  width: var(--large-width);
}

.small-width{
  width: var(--small-width);
}






.bgcolor-blue{
  background-color: var(--bgcolor-blue);
}

.bgcolor-pink{
  background-color: var(--bgcolor-pink);
}

.bgcolor-grey{
  background-color: var(--bgcolor-grey);
}

.bgcolor-black{
  background-color: var(--bgcolor-black)
}


.bgcolor-aquamarine{
  background-color: var(--bgcolor-aquamarine);
}

.row{
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* HEADER */

  .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navmenu{
    flex-basis: 80%;
    text-align: center;
  }


  .navmenu > a{
    color: white;
    padding: 0 20px;
  }

  .navlogin{
    text-align: center;
    background-color: white;
    border-radius: 25px;
    flex-basis: 5%;
    padding: 10px;
  }

  .navlogin > a{
    color: black;
  }

  .introduction{
    width: 50%;
    height: 400px;
    margin: 0 auto;
    margin-top: 75px;
    text-align: center;
  }

  

  .info > p{
    font-size: 20px;
    line-height: 35px;
    margin-top: 60px;
  }


.actions{
  margin-top: 40px;
  margin-bottom: 150px;
}


 .mac-download::before{
    content: '\1F817';
    margin-right: 10px
  }


  .mac-download{
    background-color: white;
    color: black;
    border-radius: 25px;
    padding: 18px 25px;
  }

  
  .open-browser{
    background-color: rgb(35,39,42);
    border-radius: 25px;
    padding: 18px 25px;
  }



/* MAIN */

.first-row-section{
  width: 50%;
  height: 80%;
}




.fifth-main-section{
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.fifth-content{
  height: 80%;
  background-color: var(--bgcolor-green);
}


/* FOOTER */

.large-column{
  width: calc(1200px / 6 *2);
  height: 100%;
  background-color: var(--bgcolor-red);
}

.small-column{
  width: calc(1200px / 6);
  height: 100%;
  background-color: var(--bgcolor-light-blue);
}

.second-footer-section{
  height: 150px;
  margin-top: 1px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.main-footer-content{
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content{
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-logo, .ft-nav{
  padding: 4px;
}

